@import "tailwindcss";

body {
  background: white;
  /* color: white; */
  font-family: var(--font-Jakarta), sans-serif;
}

.font-judul {
  font-family: var(--font-jakarta), sans-serif;
  font-weight: 900;
}

.font-deskripsi {
  font-family: var(--font-jakarta), sans-serif;
  font-weight: 600;
}
